body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.responsive-svg {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    width: auto;
}
